
.headline{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black
}

.byline{
   font-size: 1em;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif; 
   text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 180%;
    font-size: 18px;
}


footer{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif ;
}



.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.caption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
  
}

.col-sm{
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    line-height: 180%;
    font-size: 20px;
    margin-bottom: 15px;

}

blockquote{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(92, 46, 46);
    font-size: 22px;
    border: 15px solid darkred;
}

.chapterhead{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 700;

}

.topper{
        font-size: 3.5em;
        text-transform: uppercase;
        color: black;
        text-align: center;
        border: 15px solid black;
        border-style: double;
        width: auto;
        margin: 0 auto;
        background-color: red;
        font-family: 'Times New Roman', Times, serif;
        padding: 15px;
}


.contributions{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
}



