#content{
    font-family: "times new roman", times, serif;
    margin: 0 auto;
    width: 900px;
}

img {
    margin: 0 auto;
    width: 900px;
}

.byline{
    font-family: "times new roman", times, serif;
    font-size: 16px;
}

.headline{
    font-family: "times new roman", times, serif;
    font-size: 2.5em;
}

.caption{
    font-family: "times new roman", times, serif;
    font-size: 14px;
}

p{
    font-family: "times new roman", times, serif;
    font-size: 20px;
}

blockquote{
    font-family: "times new roman", times, serif;
    font-size: 2em;
    width: 700px;
    background-color: rgb(220, 210, 210);
    padding: 15px;
}