#content{
    font-family: "times new roman", times, serif;
    margin: 0 auto;
    width: 900px;
}

img {
    margin: 0 auto;
    width: 900px;
}

.byline{
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
    
}

.headline{
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

.caption{
    font-family: "times new roman", times, serif;
    font-size: 14px;
}

p{
    font-family: Georgia, serif;
    font-size: 13px;
}

blockquote{
    font-family: "times new roman", times, serif;
    font-size: 2em;
    width: 700px;
    background-color: rgb(220, 210, 210);
    padding: 15px;
}


.readmore{

    font-family: "times new roman", times, serif;
    margin: 0 auto;
    width: 900px;
}

.topper{
        font-family: "times new roman", times, serif;
        padding: 30px;
        text-align: center;
        color: white;
        font-size: 35px;
        border-style: double;
        border-width: 15px;
        border-color: white;
        background-color: black;
}