/* styles for my resume */


body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

#container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;

}

/*name */
.topper{
    font-size: 3.5em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    border: 15px solid black;
    border-style: double;
    width: 0 auto;
    min-width: 300px;
    margin: 0 auto;
    background-color: #a243a2;
    font-family: 'Times New Roman', Times, serif;
}


/*section*/
.sectionheader{
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #a243a2;
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:10px;
    margin-right: 0px;
    margin-left: 0px;
    width: 0 auto;
    padding: 10px;
    min-width: 300px;
    font-family: 'Times New Roman', Times, serif;
}


/*job title*/
.jobtitle{
    font-weight:bold;
    font-size: 37px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    
}


/*job organization*/
.organization{
    font-weight: bold;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 2px;
}


/*job dates*/
.date{
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right:0px;
    margin-left:0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    
}

.description{
    margin-top:5px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    text-align: center;

}



.menu{
    margin: 0px;
    padding:0px;
    text-align: center;
    display: inline;
}

.menu li{
    display: inline;
}

.degrees{
  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    border: 5px solid black;
    margin: 5px;
}

.skillslist li{
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}




.top{
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    min-width: 300px;
    margin:0 auto;
   font-size: 20px;
    text-align: center;
    border: 5px solid black;
}

.headshot{
    margin-top: 15px;
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

.nav-item{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.d-flex{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.cns{
    border: 5px solid black;
    margin: 5px
}


.dbk{
    border: 5px solid ;
    margin: 5px;
    border-color: #a243a2;
}

.hercampus{
    border: 5px solid black;
    margin: 5px
}

.gnr{
    border: 5px solid black;
    margin: 5px
}

.ta{
    border: 5px solid ;
    margin: 5px;
    border-color: #a243a2;
}