/* styles for skate bootstrap */


.skatepicture{

    width: 100%;
    max-width: 500px;
    text-align: center;
}

.button {
text-align: center;
    margin-top: 25px;
   
}


.icons{
    text-align: center;
    font-size: 3em;
}

h3{
    text-align: center
}

.col{
    text-align: center;
}

.btn{
    font-family: 'Open Sans', sans-serif;
}